html {
    
    width: 100vw;
    
}

body {
    
    background-image: url(/images/background-lg-valley.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    padding-left: 15px;
    
}

#log-in-page,
#diary-page {
    
    min-height: 100vh;
    
}

#log-in-page {
    
    text-align: center;

}

#log-in-page span {
    
    display: block;
    margin-bottom: 1em;
    
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.navbar-brand {
    color: white !important;
}

#index-body {
    padding-top: 56px;
}