@import 'shared';

body {
  padding-top: 72px;
  min-height: 100vh;
}

.navbar-collapse {
  flex-grow: 0;
}

.yin-yang-logo {
  width: 30px;
  position: relative;
  bottom: 2px;
}

.note {
  max-height: 1550px;
  opacity: 1;
  transition: all 1s ease-in 0.5s;

  &.deleted {
    opacity: 0;
    max-height: 0;
  }

  textarea {
    position: relative;
    min-height: 100px;
    height: 200px;
    max-height: 1600px;
    background-color: rgba(0, 0, 0, 0.01);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: none;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.92);
    white-space: pre-wrap;

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &::-webkit-scrollbar {
      width: 7px;
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 15px;
    }

    &:focus {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

.note + #no-archived-alert,
.badge {
  display: none;
}

.badge.visible {
  display: inline;
}
