html {
    position: relative;
}

body {
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.92);
}

#login-body {
    background-image: url(images/background-lg-valley.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* overflow-x: hidden; */
}


.page-row {
    min-height: 100vh;
}

#log-in-page span {
    display: block;
}

#emailHelp {
    color: white !important;
}

.btn-outline-primary {
    background-color: white;
    border-color: white;
}

input[type="checkbox"] {
    position: relative;
    top: 2px;
}

.alert,
.navbar {
    text-shadow: none;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar .form-inline {
    display: inline-flex;
}

#yin-yang-logo {
    width: 30px;
    height: 30px;
    position: relative;
    bottom: 2px;
    margin-right: 0.3em;
}

#index-body {
    padding-top: 72px;
    min-height: 100vh;
    background-image: url(images/background-lg-valley.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

main section {
    padding: 0 !important;
}

.notes-container textarea {
    white-space: pre-wrap;
    min-height: 100px;
    height: 200px;
    max-height: 1600px;
    background-color: rgba(0, 0, 0, 0.01);
    border: none;
    color: white;
    padding: 10px 12px;
    position: relative;
    backdrop-filter: blur(5px);
    outline: none;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.92);
}

.notes-container textarea::-webkit-scrollbar-track {
    background-color: transparent;
}

.notes-container textarea::-webkit-scrollbar {
    width: 7px;
    background-color: transparent;
}

.notes-container textarea::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
}

.notes-container textarea:focus {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
}

.last-changed {
    margin-right: 0.6em;
}

.last-changed,
.badge,
article button {
    display: none;
}

.last-changed.visible {
    display: block;
}

.badge.visible {
    display: inline;
}

article button.visible {
    display: block;
}

.notes-container article {
    max-height: 1550px;
    opacity: 1;
    transition: all 1s 0.5s;
}

#previousNotesSection article.deleted {
    opacity: 0;
    max-height: 0;
}